* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
}

h1 {
    margin: 50px;
    text-align: center;
    color: #fff;
}

.carousel-container {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    /* background-color: orange; */
}

.left-arrow, .right-arrow {
    width: 70px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow > i, .right-arrow > i {
    cursor: pointer;
}

.images-container {
    width: calc(100% - 140px);
    /* background-color: purple; */
}

.images-container > img {
    width: 100%;
    height: 100%;
}

.carousel-container i {
    font-size: 55px;
    color: #fff;
}

/*contenitore dei pallini switcher*/
.img-point {
    display: flex;
    justify-content: center;
}

.img-point > i {
    margin: 5px;
    cursor: pointer;
    color: #fff;
}
